<p id="notice"><%= notice %></p>

<h1>Listing Distributed Healths</h1>
<table>
  <thead>
    <tr>
      <th>Ph</th>
      <th>Chlorine</th>
      <th>Magnified Link</th>
      <th>Taste</th>
      <th>Odor</th>
      <th>Temperature</th>
      <th>Mercury</th>
      <th>Hardness</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Timestamp</th>
      <th>Test Data?</th>
      <th>Device ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distributed_healths.each do |distributed_health| %>
      <tr>
        <td><%= distributed_health.ph %></td>
        <td><%= distributed_health.chlorine %></td>
        <td><%= distributed_health.magnified_Link %></td>
        <td><%= distributed_health.taste %></td>
        <td><%= distributed_health.odor %></td>
        <td><%= distributed_health.temperature %></td>
        <td><%= distributed_health.mercury %></td>
        <td><%= distributed_health.hardness %></td>
        <td><%= distributed_health.lat %></td>
        <td><%= distributed_health.long %></td>
        <td><%= distributed_health.timestamp %></td>
        <td><%= distributed_health.testdata %></td>
        <td><%= distributed_health.deviceID %></td>
        <td><%= link_to 'Show', distributed_health %></td>
        <td><%= link_to 'Edit', edit_distributed_health_path(distributed_health) %></td>
        <td><%= link_to 'Destroy', distributed_health, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Database Stats</h1>
<p id="total">Total number of database entries: <%= DistributedHealth.count %></p>
<p id="totalUnique">Total unique Device IDs: <%= DistributedHealth.distinct('deviceID').count %></p>


<%= link_to 'New Distributed health', new_distributed_health_path %>
