<p id="notice"><%= notice %></p>

<p>
  <strong>Ph:</strong>
  <%= @distributed_health.ph %>
</p>

<p>
  <strong>Chlorine:</strong>
  <%= @distributed_health.chlorine %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @distributed_health.ph %>
</p>

<p>
  <strong>Magnified:</strong>
  <%= @distributed_health.magnified %>
</p>

<p>
  <strong>Taste:</strong>
  <%= @distributed_health.taste %>
</p>

<p>
  <strong>Odor:</strong>
  <%= @distributed_health.odor %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @distributed_health.temperature %>
</p>

<p>
  <strong>Mercury:</strong>
  <%= @distributed_health.mercury %>
</p>

<p>
  <strong>Hardness:</strong>
  <%= @distributed_health.hardness %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @distributed_health.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @distributed_health.long %>
</p>

<%= link_to 'Edit', edit_distributed_health_path(@distributed_health) %> |
<%= link_to 'Back', distributed_healths_path %>
